h1{
  color:white;
  font-family:BRUSH SCRIPT MT;
}
body{
  
    background-image:url("https://kartinki.pics/uploads/posts/2021-07/1625664906_6-kartinkin-com-p-komnata-v-zamke-art-art-krasivo-6.jpg");
}

a{ 
  font-size:25px;
  color:Cornsilk;
  float:right;
}